html,
body {
  height: 100%;
}
body {
  padding: 1rem;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightgray;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* 
    word-wrap: break-word;
    word-break: break-word; */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
